
<footer class="navbar-fixed-bottom mt-auto">
    <hr class="text-info">
    <div class="container my-2">
        <div class="footer__info">
            <p>
                <a href="https://ictis.sfedu.ru/">ictis.sfedu.ru</a>
                 - Институт компьютерных технологий и информационной безопасности
            </p>
            <p>
                ул. Чехова, 2, ауд. И-201 <br>
                г. Таганрог, 347922, Ростовская область, Россия
            </p>
            <p>
                Телефон
                <a href="tel:+78634360450">8 (8634) 360-450</a>
            </p>
            <p>
                E-Mail: <a href="mailto:info@ictis.sfedu.ru">info@ictis.sfedu.ru</a>
            </p>
        </div>
    </div>
</footer>