{% load static %}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <a
                class="navbar-brand d-flex align-items-center"
                href="{% url 'ui:index' %}"
            >
                <i
                    class="bi bi-shield-shaded"
                    style="font-size: 28px;"
                ></i>
                <span class="small">
                    Конференции 
                    <span class="d-none d-sm-inline">
                        по информационной безопасности
                    </span>
                </span>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse flex-row-reverse"
                id="navbarSupportedContent"
            >
                <ul class="navbar-nav mb-2 gap-2 gap-lg-3 align-items-end pt-3 lg-pt-0lg-align-items-center">
                    <li class="nav-item">
                        <button
                            type="button"
                            class="nav-btn"
                            id="header__archive"
                        >
                            Архив
                        </button>
                    </li>

                    {% if user.is_anonymous %}
                        <li class="nav-item">
                            <button
                                type="button"
                                class="nav-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#modal__auth"
                            >
                                <i class="bi bi-person me-1"></i>
                                Войти
                            </button>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a
                                role="button"
                                class="nav-btn"
                                id="header__lk"
                                href="{% url 'ui:lk' %}"
                            >
                                Личный кабинет
                            </a>
                        </li>

                        <li class="nav-item">
                            <button
                                type="button"
                                class="nav-btn"
                            >
                                Выйти
                                <i class="bi bi-box-arrow-right"></i>
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <hr class="text-info mt-0 mb-3">
    <div
        class="modal fade"
        id="modal__auth"
        tabindex="-1"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        class="modal-title"
                        id="exampleModalLabel"
                    >Авторизация</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        class="vstack gap-1 need-validation"
                        id="auth__form"
                        novalidate
                    >
                        <div>
                            <label
                                class="col-form-label"
                                for="auth__username"
                            >
                                Имя пользователя
                            </label>
                            <input
                                class="form-control"
                                type="text"
                                id="auth__username"
                                name="username"
                                pattern="[a-zA-Z0-9]{3,}"
                                required
                            >
                            <div class="invalid-feedback">
                                Введите корректное имя пользователя
                            </div>
                        </div>
                        <div>
                            <label
                                class="col-form-label"
                                for="auth__email"
                            >
                                Почта
                            </label>
                            <input
                                class="form-control"
                                type="email"
                                id="auth__email"
                                name="email"
                                required
                            >
                            <div class="invalid-feedback">
                                Введите корректную почту
                            </div>
                        </div>
                        <div>
                            <label
                                class="col-form-label"
                                for="auth__password"
                            >
                                Пароль
                            </label>
                            <input
                                class="form-control"
                                type="password"
                                id="auth__password"
                                name="password"
                                required
                                pattern=".{8,}"
                            >
                            <div class="invalid-feedback">
                                Требования к паролю (минимум 8 символов)
                            </div>
                        </div>
                        <div
                            class="alert alert-light collapse"
                            role="alert"
                            id="auth__alert"
                        >
                            <h4 class="alert-heading">Ошибка</h4>
                            <p id="auth__alert__text">%text</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn btn-info"
                        id="auth__submit__register"
                    >

                        Зарегистрироваться
                    </button>
                    <button
                        type="button"
                        class="btn btn-info"
                        id="auth__submit__login"
                    >Войти
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>