{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}
{% block title %}
    {{ config.CONFERENCE_GRADE }} {{ config.CONFERENCE_SHORT_NAME }}
{% endblock %}
{% block content %}
<main class="container">
    <h5 class="text-info bold">{{ config.CONFERENCE_GRADE }}</h5>
    <h1 class="text-light">{{ config.CONFERENCE_SHORT_NAME }}</h1>
    <p>{{ config.CONFERENCE_NAME }}</p>
    <button type="button" class="btn btn-info rounded-pill fw-bolder" data-bs-toggle="modal" data-bs-target="#modal__auth">
        Подать заявку
    </button>
    <div class="d-flex flex-column flex-md-row gap-3 my-3">
        <div class="list-option">
            <div>Начало</div>
            <div>{{ config.CONFERENCE_START_DATE|date:'d E' }}</div>
        </div>
        <div class="list-option">
            <div>ПРОДОЛЖИТЕЛЬНОСТЬ</div>
            <div>{{ config.CONFERENCE_DURATION}}</div>
        </div>
        <div class="list-option">
            <div>ФОРМАТ КОНФЕРЕНЦИИ</div>
            <div>{{ config.CONFERENCE_FORMAT }}</div>
        </div>
    </div>
</main>
{% endblock %}