{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}
{% block content %}
<main class="container">
<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item">
                Отправить заявку
            </li>
            <li class="list-group-item">
                Мои заявки на участие
            </li>
        </ul>
    </div>
    <div class="col-9">
        <div id="cards__container">

        </div>

    </div>
</div>
</main>
<script type="text/template" id="participation_request__card__template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                ${pr.title}
            </h5>
        </div>
    </div>
</script>
{% endblock %}
{% block script %}
    <script src="{% static 'js/lk.js' %}?{% now 'U' %}"></script>
{% endblock %}
